<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="Author" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta
      name="Keywords"
      content="경기도내 주거복지정보, 공공임대주택, 주거비지원, 주택금융제도, 주택개량지원, 기타복지서비스, 경기주거복지, 경기주거복지포털"
    />
    <meta
      name="Description"
      content="경기도내 주거복지정보, 공공임대주택, 주거비지원, 주택금융제도, 주택개량지원, 기타복지서비스"
    />

    <title>경기주거복지포털! 변화의 중심, 기회의 경기</title>

    <!-- s.SEO -->
    <link href="../assets/seo/gico.ico" rel="icon" type="image/x-icon" />
    <link href="../assets/seo/apple-touch-icon-60.png" rel="apple-touch-icon-precomposed" />
    <link href="../assets/seo/apple-touch-icon-76.png" rel="apple-touch-icon-precomposed" sizes="60x60" />
    <link href="../assets/seo/apple-touch-icon-120.png" rel="apple-touch-icon-precomposed" sizes="114x114" />
    <link href="../assets/seo/apple-touch-icon-152.png" rel="apple-touch-icon-precomposed" sizes="144x144" />
    <!-- e.SEO -->

    <script src="../assets/plugins/jquery/jquery-3.4.1.min.js"></script>
    <script src="../assets/js/jquery-ui.js"></script>

    <!-- 메인 renewal js -->
    <script src="../assets/renewal/js/slick.js"></script>
    <script src="../assets/renewal/js/common.js"></script>
    <!-- // 메인 renewal js -->

    <script src="../assets/js/menu.js"></script>

    <link rel="stylesheet" type="text/css" href="https://housing.gg.go.kr/assets/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/gico.css" />

    <!-- 메인 renewal css -->
    <link rel="stylesheet" type="text/css" href="../assets/renewal/css/jquery-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="../assets/renewal/css/common.css" />
    <!-- // 메인 renewal css -->
  </head>

  <body>
    <!-- 건너띄기 링크 -->
    <dl id="skipNavigation">
      <dt class="hidden_txt">바로가기 및 건너띄기 링크</dt>
      <dd><a href="#gnb">주 메뉴 바로가기</a></dd>
      <dd><a href="#main">본문으로 바로가기</a></dd>
    </dl>

    <div class="root" id="cms" name="#top">
      <!-- 상단 -->
      <div>
        <header id="gnb">
          <hgroup class="h_top">
            <!-- 로고 영역 -->
            <h1>
              <a href="index.html">
                <span class="hidden_txt">경기도 경기주거복지포털</span>
                <img src="../assets/images/top-logo-2.png" alt="경기도 경기주거복지포털" />
              </a>
            </h1>
            <div class="inner-wrap">
              <!-- Gnb pc-->
              <nav class="gnb-web" id="gnbList">
                <ul class="menu">
                  <li>
                    <a href="#">
                      <span>주거복지 서비스</span>
                    </a>
                    <div class="depth2">
                      <ul>
                        <li><a href="">주거복지 소개</a></li>
                        <li><a href="">공공임대주택 지원</a></li>
                        <li><a href="">주거비 및 금융지원</a></li>
                        <li><a href="">주택개량 지원</a></li>
                        <li><a href="">기타 복지서비스</a></li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a href="#">
                      <span>청년 주거복지</span>
                    </a>
                    <div class="depth2">
                      <ul>
                        <li><a href="">청년 매입임대</a></li>
                        <li>
                          <a href="">
                            경기행복주택<br />
                            (청년 등)
                          </a>
                        </li>
                        <li>
                          <a href="">
                            경기행복주택<br />
                            임대보증금 이자지원
                          </a>
                        </li>
                        <li>
                          <a href="">
                            청년 기존주택<br />
                            전세임대
                          </a>
                        </li>
                        <li><a href="">주거비 및 금융지원</a></li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a href="#">
                      <span>주거&#47;주택 검색</span>
                    </a>
                    <div class="depth2">
                      <ul>
                        <li><a href="">맞춤형 주거검색</a></li>
                        <li><a href="">공공임대주택 찾기</a></li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a href="#">
                      <span>주거복지 상담</span>
                    </a>
                    <div class="depth2">
                      <ul>
                        <li><a href="">주거복지센터 안내</a></li>
                        <li>
                          <a href=""> 시군 상담센터안내 </a>
                        </li>
                        <li><a href="">관련기관 찾기</a></li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a href="">
                      <span>알림과 정보</span>
                    </a>
                    <div class="depth2">
                      <ul>
                        <li><a href="">공지사항</a></li>
                        <li><a href="">주거복지 자료실</a></li>
                        <li><a href="">우리동네 이야기</a></li>
                        <li><a href="">묻고 답하기</a></li>
                        <li><a href="">FAQ</a></li>
                      </ul>
                    </div>
                  </li>
                  <div class="btn-wrapper">
                    <button class="btn-type bd-green" type="button"><em>경기도청</em></button>
                    <button class="btn-type bd-green" type="button"><em>경기주택도시공사</em></button>
                    <button class="btn-type bd-green" type="button"><em>한국토지주택공사</em></button>
                    <button class="btn-type blue2 has-icon icon-01" type="button"><em>1:1상담</em></button>
                    <button class="btn-type blue2 has-icon icon-02" type="button"><em>부동산 무료 법률상담</em></button>
                    <button class="btn-type blue2 has-icon icon-03" type="button"><em>주거복지 알림서비스</em></button>
                  </div>
                </ul>
              </nav>
              <!-- Gnb mobile-->
              <div class="m-menu">
                <a href="javascript:void(0);" class="m-search gnbSearchOn">
                  <em class="hidden_txt">검색</em>
                </a>
                <a href="#allMenu" class="menu-all">
                  <i></i>
                  <i></i>
                  <i></i>
                  <em class="hidden_txt">모바일 전체메뉴</em>
                </a>
              </div>
              <aside class="gnb-mob">
                <div class="inner-wrap">
                  <div class="scroll-wrap">
                    <div class="member">
                      <a class="sign-in" href="">로그인</a>
                      <a class="sign-up" href="">회원가입</a>
                    </div>
                    <ul class="menu">
                      <li>
                        <a href="#">
                          <span>주거복지 서비스</span>
                        </a>
                        <div class="depth2">
                          <ul>
                            <li><a href="">주거복지 소개</a></li>
                            <li><a href="">공공임대주택 지원</a></li>
                            <li><a href="">주거비 및 금융지원</a></li>
                            <li><a href="">주택개량 지원</a></li>
                            <li><a href="">기타 복지서비스</a></li>
                          </ul>
                        </div>
                      </li>
                      <li>
                        <a href="#">
                          <span>청년 주거복지</span>
                        </a>
                        <div class="depth2">
                          <ul>
                            <li><a href="">청년 매입임대</a></li>
                            <li>
                              <a href="">
                                경기행복주택<br />
                                (청년 등)
                              </a>
                            </li>
                            <li>
                              <a href="">
                                경기행복주택<br />
                                임대보증금 이자지원
                              </a>
                            </li>
                            <li>
                              <a href="">
                                청년 기존주택<br />
                                전세임대
                              </a>
                            </li>
                            <li><a href="">주거비 및 금융지원</a></li>
                          </ul>
                        </div>
                      </li>
                      <li>
                        <a href="#">
                          <span>주거&#47;주택 검색</span>
                        </a>
                        <div class="depth2">
                          <ul>
                            <li><a href="">맞춤형 주거검색</a></li>
                            <li><a href="">공공임대주택 찾기</a></li>
                          </ul>
                        </div>
                      </li>
                      <li>
                        <a href="#">
                          <span>주거복지 상담</span>
                        </a>
                        <div class="depth2">
                          <ul>
                            <li><a href="">주거복지센터 안내</a></li>
                            <li>
                              <a href=""> 시군 상담센터안내 </a>
                            </li>
                            <li><a href="">관련기관 찾기</a></li>
                          </ul>
                        </div>
                      </li>
                      <li>
                        <a href="">
                          <span>알림과 정보</span>
                        </a>
                        <div class="depth2">
                          <ul>
                            <li><a href="">공지사항</a></li>
                            <li><a href="">주거복지 자료실</a></li>
                            <li><a href="">우리동네 이야기</a></li>
                            <li><a href="">묻고 답하기</a></li>
                            <li><a href="">FAQ</a></li>
                          </ul>
                        </div>
                      </li>
                    </ul>
                    <div class="btn-wrapper">
                      <button class="btn-type bd-green" type="button"><em>경기도청</em></button>
                      <button class="btn-type bd-green" type="button"><em>경기주택도시공사</em></button>
                      <button class="btn-type bd-green" type="button"><em>한국토지주택공사</em></button>
                      <button class="btn-type blue2 has-icon icon-01" type="button"><em>1:1상담</em></button>
                      <button class="btn-type blue2 has-icon icon-02" type="button"><em>부동산 무료 법률상담</em></button>
                      <button class="btn-type blue2 has-icon icon-03" type="button"><em>주거복지 알림서비스</em></button>
                    </div>
                  </div>
                </div>
              </aside>
            </div>
            <div class="etc-info">
              <span>
                <button class="btn-search gnbSearchOn" type="button">
                  <em class="hidden_txt">검색</em>
                </button>
              </span>
              <span>
                <a class="sign-in txt-gg-title-L" href="">로그인</a>
                <a class="sign-up txt-gg-title-L" href="">회원가입</a>
              </span>
            </div>
            <div class="searchArea">
              <form action="">
                <fieldset>
                  <legend>검색</legend>
                  <div class="inpText-wrap search">
                    <input type="text" title="검색어 입력 - 예)검색어를 입력하세요." placeholder="검색어를 입력하세요." />
                    <button type="submit"><em class="hidden_txt">검색</em></button>
                  </div>
                  <dl>
                    <dt>인기검색어:</dt>
                    <dd>
                      <div>
                        <span><a href="">주거급여</a></span>
                        <span><a href="">청년월세지원</a></span>
                        <span><a href="">임대주택</a></span>
                        <span><a href="">국민임대</a></span>
                      </div>
                    </dd>
                  </dl>
                </fieldset>
              </form>
            </div>
          </hgroup>
        </header>
      </div>

      <div class="trunk visual visual-sub vs-9" id="site-sub-header">
        <!--<div class="trunk visual visual-sub sub-01">-->
        <div class="stem fullwidth">
          <div class="bine-12">
            <div class="title-wrap">
              <div class="title-box">
                <h2 class="title"><span id="gico-site-page-title">서비스 이용안내</span></h2>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <!--</div>-->

        <!--
        <div class="s_nvg" th:replace="fragments/nvg :: nvg"></div>
         -->
      </div>
      <div class="trunk section-sub-start sub-sel-nav sel-num-2" id="site-navigation">
        <!--<div class="trunk section-sub-start sub-sel-nav">-->
        <div class="stem fullwidth">
          <div class="bine-12">
            <div class="gico-sel-bar">
              <ul>
                <li class="gico-home sel-0">
                  <div class="gico-sel-home">
                    <a href="javascript:void(0);"><span class="hidden">홈</span></a>
                  </div>
                </li>
                <li class="gico-sel sel-1" id="li_depth_1">
                  <div class="gico-sel-title">
                    <a href="javascript:void(0);" id="depth_0">서비스 이용안내</a>
                  </div>
                  <div class="gico-sel-list" id="depth_0_select">
                    <ul>
                      <li><a href="/" class="select_item" data-menuid="40000">메인</a></li>
                      <li><a href="/html/24001.do" class="select_item" data-menuid="24000">주거복지 서비스</a></li>
                      <li><a href="/html/51100.do" class="select_item" data-menuid="51000">청년 주거복지</a></li>
                      <li><a href="/jsp/myfavorite.do" class="select_item" data-menuid="25000">주거/주택 검색</a></li>
                      <li><a href="/html/27100.do" class="select_item" data-menuid="27000">주거복지 상담</a></li>
                      <li><a href="/board/20041300000001/list" class="select_item" data-menuid="28000">알림과 정보</a></li>
                      <li><a href="/mypage/member_bookMark.do" class="select_item" data-menuid="29000">마이페이지</a></li>
                      <li><a href="/main/service_privacy.do" class="select_item" data-menuid="30000">서비스 이용안내</a></li>
                      <li><a href="/jsp/search.do" class="select_item" data-menuid="31000">통합검색</a></li>
                    </ul>
                  </div>
                </li>
                <li class="gico-sel sel-2" id="li_depth_2">
                  <div class="gico-sel-title">
                    <a href="javascript:void(0);" id="depth_1">개인정보처리방침</a>
                  </div>
                  <div class="gico-sel-list" id="depth_1_select">
                    <ul>
                      <li><a href="/main/service_privacy.do" class="select_item" data-menuid="30100">개인정보처리방침</a></li>
                      <li><a href="/main/service_term.do" class="select_item" data-menuid="30200">홈페이지 이용약관</a></li>
                      <li><a href="/main/service_mail.do" class="select_item" data-menuid="30300">이메일 무단수집 거부</a></li>
                      <li><a href="/main/service_sitemap.do" class="select_item" data-menuid="30500">사이트맵</a></li>
                      <li><a href="/main/service_center.do" class="select_item" data-menuid="30600">센터소개</a></li>
                    </ul>
                  </div>
                </li>
                <li class="gico-sel sel-3" id="li_depth_3" style="display: none">
                  <div class="gico-sel-title">
                    <a href="javascript:void(0);" id="depth_2"> - </a>
                  </div>
                  <div class="gico-sel-list" id="depth_2_select"></div>
                </li>
                <div class="clearfix"></div>
              </ul>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <!--</div>-->

        <!-- 
        <div class="wid">
          <div class="trunk section-sub-start sub-nav">
              <div class="stem fullwidth">
                  <div class="bine-12">
                      <div class="sub-nav-bar">
                          <ul>
                          <li id="li_depth_0">
                              <p><a th:href="@{#n}" id="depth_0" class="selected">-</a></p>
                              <div id="depth_0_select">
                              </div>
                          </li>
                          <li id="li_depth_1">
                              <p><a th:href="@{#n}" id="depth_1" class="selected">-</a></p>
                              <div id="depth_1_select">
                              </div>
                          </li>
                          <li id="li_depth_2">
                              <p><a th:href="@{#n}" id="depth_2" class="selected">-</a></p>
                              <div id="depth_2_select">
                              </div>
                          </li>
                              <div class="clearfix"></div>
                          </ul>
                      </div>
      
                      <div class="gico-sel-bar">
                              <ul>
                                  <li class="gico-home sel-0">
                                      <div class="gico-sel-home">
                                          <a href="javascript:void(0);"><span>홈</span></a>
                                      </div>
                                  </li>
                                  <li class="gico-sel sel-1">
                                      <div class="gico-sel-title">
                                          <a href="#" id="depth_0"> - </a>
                                      </div>
                                      <div class="gico-sel-list" id="depth_0_select">
                                          <ul>
                                              <li><a href="member_bookMark.do">내 관심정보</a></li>
                                              <li><a href="member_notification.do">내 알림정보</a></li>
                                              <li><a href="member_qna.do">묻고 답하기</a></li>
                                              <li><a href="member_cnsl.do">상담 신청내역</a></li>
                                              <li><a href="member_info.do">회원정보수정</a></li>
                                              <li><a href="member_out.do">회원탈퇴</a></li>
                                          </ul>
                                      </div>
                                  </li>
                                  <li class="gico-sel sel-2">
                                      <div class="gico-sel-title">
                                          <a href="#" id="depth_1">마이페이지</a>
                                      </div>
                                      <div class="gico-sel-list" id="depth_1_select">
                                          <ul>
                                              <li><a href="member_bookMark.do">내 관심정보</a></li>
                                              <li><a href="member_notification.do">내 알림정보</a></li>
                                              <li><a href="member_qna.do">묻고 답하기</a></li>
                                              <li><a href="member_cnsl.do">상담 신청내역</a></li>
                                              <li><a href="member_info.do">회원정보수정</a></li>
                                              <li><a href="member_out.do">회원탈퇴</a></li>
                                          </ul>
                                      </div>
                                  </li>
                                  <li class="gico-sel sel-3">
                                      <div class="gico-sel-title">
                                          <a href="#" id="depth_2">마이페이지</a>
                                      </div>
                                      <div class="gico-sel-list" id="depth_2_select">
                                          <ul>
                                              <li><a href="member_bookMark.do">내 관심정보</a></li>
                                              <li><a href="member_notification.do">내 알림정보</a></li>
                                              <li><a href="member_qna.do">묻고 답하기</a></li>
                                              <li><a href="member_cnsl.do">상담 신청내역</a></li>
                                              <li><a href="member_info.do">회원정보수정</a></li>
                                              <li><a href="member_out.do">회원탈퇴</a></li>
                                          </ul>
                                      </div>
                                  </li>
                                  <div class="clearfix"></div>
                              </ul>
                          </div>
      
      
                  </div>
                  <div class="clearfix"></div>
              </div>
          </div>
        </div>
       -->
      </div>
      <div>
        <div class="trunk sub-title" id="gico_contents_start" tabindex="0">
          <div class="stem fullwidth" id="gico_subTitle">
            <div class="bine-12">
              <div class="title-box">
                <h3 class="title"><span>개인정보처리방침</span></h3>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="trunk sub-share">
          <div class="stem">
            <div class="bine-12">
              <div class="sub-share-bar">
                <ul>
                  <li>
                    <a class="share-blog" href="javascript:shareSNS(3);" title="새창 열림"><span class="hidden">블로그</span></a>
                  </li>
                  <li>
                    <a class="share-kakao" href="javascript:shareKakaotalk();" title="새창 열림"
                      ><span class="hidden">카카오톡</span></a
                    >
                  </li>
                  <li>
                    <a class="share-fb" href="javascript:shareSNS(1);" title="새창 열림"><span class="hidden">페이스북</span></a>
                  </li>
                  <li>
                    <a class="share-mark" href="javascript:memberBookMark();"><span class="hidden">책갈피</span></a>
                  </li>
                  <li>
                    <a class="share-print" href="javascript:printDiv();" title="새창 열림"><span class="hidden">프린트</span></a>
                  </li>
                  <div class="clearfix"></div>
                </ul>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>

        <script language="javascript">
          //제목 이동 자동 스크롤
          window.addEventListener('load', function () {
            var posTop = $('#site-navigation').offset().top;
            setTimeout(function () {
              $('html')
                .stop()
                .animate({ scrollTop: posTop - $('.h_top').height() + 'px' }, 500);
            }, 100);
          });
        </script>
      </div>

      <div class="trunk page-service">
        <div class="stem">
          <div class="bine-12">
            <div class="service-privacy">
              <div class="label_list_box">
                <p class="label_title_type">주요 개인정보 처리 표시(라벨링)</p>
                <ul class="label_list_box_type">
                  <li>
                    <div><span>처리목적</span></div>
                    <p class="hidden_label_text_type">민원 사무처리, 콜센터 상담사무 처리 등</p>
                  </li>
                  <li>
                    <div><span>처리항목</span></div>
                    <p class="hidden_label_text_type">성명, 생년월일, 주소, 전화번호, 주민등록번호 등</p>
                  </li>
                  <li>
                    <div><span>제3자 제공</span></div>
                    <p class="hidden_label_text_type">정보주체의 동의 또는 법률의 규정에 의해서만 제3자 제공</p>
                  </li>
                  <li>
                    <div><span>처리위탁</span></div>
                    <p class="hidden_label_text_type">원활한 개인정보 처리를 위해 개인정보 처리위탁</p>
                  </li>
                  <li>
                    <div><span>정보주체의 권리의무</span></div>
                    <p class="hidden_label_text_type">정보주체의 개인정보 열람·정정·삭제·정지처리 요구 등 권리 행사</p>
                  </li>
                  <li>
                    <div><span>파기</span></div>
                    <p class="hidden_label_text_type">보유기간 경과 또는 처리목적 달성 시 개인정보 파기</p>
                  </li>
                  <li>
                    <div><span>안전성 확보조치</span></div>
                    <p class="hidden_label_text_type">관리적, 기술적, 물리적 조치를 취함</p>
                  </li>
                  <li>
                    <div><span>자동화 수집</span></div>
                    <p class="hidden_label_text_type">이용정보를 저장하고 수시로 불러오는 ‘쿠키(cookie)’를 사용하지 않음</p>
                  </li>
                  <li>
                    <div><span>권익침해구제</span></div>
                    <p class="hidden_label_text_type">개인정보 침해에 대한 피해구제, 상담 등을 문의 할 수 있음</p>
                  </li>
                  <li>
                    <div><span>열람청구</span></div>
                    <p class="hidden_label_text_type">
                      (담당부서) 정보통신보안담당관<br />
                      (연락처) 031-8008-2909
                    </p>
                  </li>
                  <li>
                    <div><span>고충처리부서</span></div>
                    <p class="hidden_label_text_type">
                      (담당부서) 정보통신보안담당관<br />
                      (연락처) 031-8008-2909
                    </p>
                  </li>
                  <li>
                    <div><span>처리방침 변경</span></div>
                    <p class="hidden_label_text_type">2022.8월부터 적용</p>
                  </li>
                </ul>
                <p>※ 기호에 마우스를 대면 세부사항 확인</p>
                <div style="margin-top: 30px">
                  <p class="label_title_type" style="margin: 0">목 차</p>
                  <ul class="label_list_box_type2">
                    <li>
                      <a href="#gg_privacy_01">1. 개인정보의 처리 목적</a>
                    </li>
                    <li>
                      <a href="#gg_privacy_02">2. 개인정보의 처리 및 보유 기간</a>
                    </li>
                    <li>
                      <a href="#gg_privacy_03">3. 처리하는 개인정보 항목</a>
                    </li>
                    <li>
                      <a href="#gg_privacy_04">4. 개인정보파일 등록 현황</a>
                    </li>
                    <li>
                      <a href="#gg_privacy_05">5. 개인정보의 제3자 제공에 관한 사항</a>
                    </li>
                    <li>
                      <a href="#gg_privacy_06">6. 개인정보처리 위탁</a>
                    </li>
                    <li>
                      <a href="#gg_privacy_07">7. 개인정보의 파기절차 및 방법</a>
                    </li>
                    <li>
                      <a href="#gg_privacy_08">8. 정보주체와 법정대리인의 권리·의무 및 행사방법</a>
                    </li>
                    <li>
                      <a href="#gg_privacy_09">9. 개인정보의 안전성 확보조치</a>
                    </li>
                    <li>
                      <a href="#gg_privacy_10">10. 개인정보 자동 수집 장치의 설치.운영 및 거부에 관한 사항</a>
                    </li>
                    <li>
                      <a href="#gg_privacy_11">11.개인정보보호 분야별 책임자 및 연락처</a>
                    </li>
                    <li>
                      <a href="#gg_privacy_12">12. 개인정보 열람청구</a>
                    </li>
                    <li>
                      <a href="#gg_privacy_13">13. 권익침해 구제방법</a>
                    </li>
                    <li>
                      <a href="#gg_privacy_14">14. 개인정보 처리방침 변경</a>
                    </li>
                  </ul>
                  <p>※ 목차를 클릭하면 해당 조항으로 이동</p>
                </div>
              </div>

              <p class="block">
                경기도는 「개인정보 보호법」 제30조에 따라 ‘경기주거복지포털’에서 처리하는 정보주체의 개인정보를 보호하고 이와
                관련한 고충을 신속하고 원활하게 처리할 수 있도록 하기 위하여 다음과 같이 개인정보 처리방침을 수립·공개합니다.
              </p>

              <div class="h30"></div>

              <h2 id="gg_privacy_01" class="gg_privacy_title"><span>1. 개인정보의 처리 목적</span></h2>

              <ul class="ul-circle-num">
                <li>
                  경기도는 다음의 목적을 위하여 개인정보를 처리합니다. 처리하고 있는 개인정보는 다음의 목적 이외의 용도로는
                  이용되지 않습니다.

                  <ul class="ul-none">
                    <li>- 경기주거복지포털 회원가입</li>
                    <li>- 경기주거복지포털 상담기록지 정보</li>
                  </ul>
                </li>
              </ul>

              <div class="h10"></div>

              <h2 id="gg_privacy_02" class="gg_privacy_title"><span>2. 개인정보의 처리 및 보유 기간</span></h2>

              <ul class="ul-circle-num">
                <li>
                  경기도는 법령에 따른 개인정보 보유·이용기간 또는 정보주체로부터 개인정보를 수집 시에 동의받은 개인정보를 보유 및
                  이용기간 내에서 개인정보를 처리·보유합니다.
                </li>
                <li>
                  각각의 개인정보 처리 및 보유 기간은 다음과 같습니다.
                  <ul class="ul-none">
                    <li>- 경기주거복지포털 회원정보 : 회원탈퇴 시 까지, 2년 주기 재동의</li>
                    <li>- 경기주거복지포털 상담기록지정보 : 5년</li>
                  </ul>
                </li>
              </ul>

              <div class="h10"></div>

              <h2 id="gg_privacy_03" class="gg_privacy_title"><span>3. 처리하는 개인정보 항목</span></h2>
              <ul class="ul-circle-num">
                <li>
                  경기도는 다음의 개인정보 항목을 처리하고 있습니다.
                  <ul class="num">
                    <li>
                      1. 경기주거복지포털 회원정보
                      <ul class="ul-none">
                        <li>- 필수항목 : 아이디, 비밀번호, 휴대전화번호, 이름</li>
                        <li>- 선택항목 : 관심사항</li>
                      </ul>
                    </li>
                    <li>
                      2. 경기주거복지포털 상담기록지정보
                      <ul class="ul-none">
                        <li>- 필수항목 : 휴대전화번호, 성별, 생년월일, 이름, 행정구, 가구유형, 가구원수</li>
                        <li>- 선택항목 : 자택주소, 자택전화번호, 보호구분, 경제상황, 주거현황</li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>

              <div class="h10"></div>

              <h2 id="gg_privacy_04" class="gg_privacy_title"><span>4. 개인정보파일 등록 현황</span></h2>
              <ul class="ul-circle-num">
                <li>
                  개인정보보호법 제32조에 따라 등록·공개하는 개인정보파일의 보유기간은 개인정보파일 목록에 안내하고 있습니다.
                  <ul class="num">
                    <li>
                      ☞ 개인정보보호위원회 개인정보보호 종합지원포털(www.privacy.go.kr) -> 개인정보 민원 -> 개인정보열람 등 요구
                      -> 개인정보파일 목록 검색 -> 기관명에 “경기주택도시공사” 입력 후 조회가 가능합니다.
                    </li>
                  </ul>
                </li>
              </ul>

              <div class="h10"></div>

              <h2 id="gg_privacy_05" class="gg_privacy_title"><span>5. 개인정보의 제3자 제공에 관한 사항</span></h2>
              <ul class="ul-circle-num">
                <li>
                  경기도는 정보주체의 동의, 법률의 특별한 규정 등 개인정보보호법 제17조 및 제18조에 해당하는 경우에만 개인정보를
                  제3자에게 제공합니다.
                </li>
              </ul>

              <div class="h10"></div>

              <h2 id="gg_privacy_06" class="gg_privacy_title"><span>6. 개인정보처리 위탁</span></h2>
              <ul class="ul-circle-num">
                <li>
                  경기도는 원활한 개인정보 업무처리를 위하여 다음과 같이 개인정보 처리업무를 위탁하고 있습니다.
                  <div class="table-wrap">
                    <table>
                      <caption>
                        개인정보처리 위탁
                      </caption>
                      <colgroup>
                        <col style="width: 10%" />
                        <col style="width: 20%" />
                        <col style="width: auto" />
                      </colgroup>
                      <thead>
                        <tr>
                          <td>순&nbsp;번</td>
                          <td>(재)수탁 업체명</td>
                          <td>(재)위탁업무</td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>경기주택도시공사</td>
                          <td>경기도 주거복지센터 대행사무(경기 주거복지포털 운영 및 유지관리)</td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td>㈜피씨엔</td>
                          <td>2022년 경기주거복지포털 운영 및 유지관리 용역</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </li>
                <li>
                  경기도는 위탁계약 체결시 「개인정보 보호법」 제26조에 따라 위탁업무 수행목적 외 개인정보 처리금지, 기술적․관리적
                  보호조치, 재위탁 제한, 수탁자에 대한 관리․감독, 손해배상 등 책임에 관한 사항을 계약서 등 문서에 명시하고,
                  수탁자가 개인정보를 안전하게 처리하는지를 감독하고 있습니다.
                </li>
                <li>
                  위탁업무의 내용이나 수탁자가 변경될 경우에는 지체없이 본 개인정보 처리방침을 통하여 공개하도록 하겠습니다.
                </li>
              </ul>

              <div class="h10"></div>

              <h2 id="gg_privacy_07" class="gg_privacy_title"><span>7. 개인정보의 파기절차 및 방법</span></h2>
              <ul class="ul-circle-num">
                <li>
                  경기주거복지포털의 개인정보 보유기간의 경과, 처리목적 달성 등 개인정보가 불필요하게 되었을 때에는 지체없이 해당
                  개인정보를 파기합니다.
                </li>
                <li>
                  정보주체로부터 동의받은 개인정보 보유기간이 경과하거나 처리목적이 달성되었음에도 불구하고 다른 법령에 따라
                  개인정보를 계속 보존하여야 하는 경우에는, 해당 개인정보를 별도의 데이터베이스(DB)로 옮기거나 보관장소를 달리하여
                  보존합니다.
                </li>
                <li>
                  개인정보 파기의 절차 및 방법은 다음과 같습니다.

                  <ul class="ul-num">
                    <li>
                      1. 파기절차
                      <ul class="ul-none">
                        <li>
                          - 이용자가 입력한 정보는 목적 달성 후 내부 방침 및 관련 법령에 따라 일정기간 저장된 후 혹은 즉시
                          파기됩니다.
                        </li>
                      </ul>
                    </li>
                    <li>
                      2. 파기방법
                      <ul class="ul-none">
                        <li>
                          - 경기주거복지포털에서 처리하는 개인정보를 파기할 때에는 다음의 방법으로 파기 합니다.
                          <ul class="ul-none">
                            <li>ㆍ 전자적 파일 형태인 경우 : 복원이 불가능한 방법으로 영구삭제</li>
                            <li>ㆍ 전자적 파일의 형태외의 기록물, 인쇄물, 서면, 그 밖의 기록매체인 경우 : 분쇄 또는 소각</li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>

              <div class="h10"></div>

              <h2 id="gg_privacy_08" class="gg_privacy_title"><span>8. 정보주체와 법정대리인의 권리·의무 및 행사방법</span></h2>
              <ul class="ul-circle-num">
                <li>
                  정보주체는 경기도에 대해 언제든지 개인정보 열람·정정·삭제·처리정지 요구 등의 권리를 행사할 수 있습니다.
                  <ul class="ul-num">
                    <li>
                      ※ 만 14세 미만 아동에 관한 개인정보의 열람등 요구는 법정대리인이 직접 해야 하며, 만 14세 이상의 미성년자인
                      정보주체는 정보주체의 개인정보에 관하여 미성년자 본인이 권리를 행사하거나 법정대리인을 통하여 권리를 행사할
                      수 도 있습니다.
                    </li>
                  </ul>
                </li>
                <li>
                  제1항에 따른 권리 행사는 경기도에 대해 「개인정보 보호법」 시행령 제41조제1항에 따라 서면, 전자우편,
                  모사전송(FAX) 등을 통하여 하실 수 있으며 경기도는 이에 대해 지체 없이 조치하겠습니다.
                </li>
                <li>
                  제1항에 따른 권리 행사는 정보주체의 법정대리인이나 위임을 받은 자 등 대리인을 통하여 하실 수 있습니다. 이 경우
                  “개인정보 처리 방법에 관한 고시” 별지 제11호 서식에 따른 위임장을 제출하셔야 합니다.
                </li>
                <li>
                  개인정보 열람 및 처리정지 요구는 「개인정보 보호법」 제35조 제4항, 제37조 제2항에 의하여 정보주체의 권리가 제한
                  될 수 있습니다.
                </li>
                <li>
                  개인정보의 정정 및 삭제 요구는 다른 법령에서 그 개인정보가 수집 대상으로 명시되어 있는 경우에는 그 삭제를 요구할
                  수 없습니다.
                </li>
                <li>
                  경기도는 정보주체 권리에 따른 열람의 요구, 정정·삭제의 요구, 처리정지의 요구 시 열람 등 요구를 한 자가
                  본인이거나 정당한 대리인인지를 확인합니다.
                </li>
              </ul>

              <div class="h10"></div>

              <h2 id="gg_privacy_09" class="gg_privacy_title"><span>9. 개인정보의 안전성 확보조치</span></h2>

              <ul class="ul-circle-num">
                <li>
                  경기도는 개인정보의 안전성 확보를 위해 다음과 같은 조치를 취하고 있습니다.
                  <ul class="ul-num">
                    <li>
                      1. 개인정보 취급 직원의 최소화 및 교육
                      <ul class="ul-none">
                        <li>
                          개인정보를 취급하는 직원을 지정하고 담당자에 한정시켜 최소화 하여 개인정보를 관리하는 대책을 시행하고
                          있습니다.
                        </li>
                      </ul>
                    </li>
                    <li>
                      2. 내부관리계획의 수립 및 시행
                      <ul class="ul-none">
                        <li>개인정보의 안전한 처리를 위하여 내부관리계획을 수립하고 시행하고 있습니다.</li>
                      </ul>
                    </li>
                    <li>
                      3. 개인정보의 암호화
                      <ul class="ul-none">
                        <li>
                          이용자의 개인정보는 비밀번호는 암호화 되어 저장 및 관리되고 있어, 본인만이 알 수 있으며 중요한 데이터는
                          파일 및 전송 데이터를 암호화 하거나 파일 잠금 기능을 사용하는 등의 별도 보안기능을 사용하고 있습니다.
                        </li>
                      </ul>
                    </li>
                    <li>
                      4. 개인정보에 대한 접근 제한
                      <ul class="ul-none">
                        <li>
                          개인정보를 처리하는 데이터베이스시스템에 대한 접근권한의 부여,변경,말소를 통하여 개인정보에 대한
                          접근통제를 위하여 필요한 조치를 하고 있으며 침입차단시스템을 이용하여 외부로부터의 무단 접근을 통제하고
                          있습니다.
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>

              <div class="h10"></div>

              <h2 id="gg_privacy_10" class="gg_privacy_title">
                <span>10. 개인정보 자동 수집 장치의 설치.운영 및 거부에 관한 사항</span>
              </h2>
              <p>경기도는 정보주체의 이용정보를 저장하고 수시로 불러오는 ‘쿠키(cookie)’를 사용하지 않습니다.</p>

              <div class="h10"></div>

              <h2 id="gg_privacy_11" class="gg_privacy_title"><span>11. 개인정보 보호책임자</span></h2>
              <div class="table-wrap">
                <table>
                  <caption>
                    개인정보 보호책임자
                  </caption>
                  <colgroup>
                    <col style="width: 18%" />
                    <col style="width: 22%" />
                    <col style="width: 13%" />
                    <col style="width: 15%" />
                    <col style="width: auto" />
                  </colgroup>
                  <thead>
                    <tr>
                      <td colspan="2">구분</td>
                      <td>성명</td>
                      <td>직책</td>
                      <td>연락처</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>경기도</td>
                      <td>개인정보 보호책임자</td>
                      <td>류인권</td>
                      <td>기획조정실장</td>
                      <td rowspan="3">
                        ·전화 : 031-8008-4930<br />
                        ·e-mail : nh0521@gg.go.kr
                      </td>
                    </tr>
                    <tr>
                      <td rowspan="2">경기주거복지포털</td>
                      <td>개인정보 보호책임자</td>
                      <td>정종국</td>
                      <td>주택정책과장</td>
                    </tr>
                    <tr>
                      <td>개인정보 보호책임자</td>
                      <td>김락현</td>
                      <td>주무관</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="h10"></div>

              <h2 id="gg_privacy_12" class="gg_privacy_title"><span>12. 개인정보 열람청구</span></h2>
              <ul class="ul-circle-num">
                <li>
                  정보주체는 ｢개인정보 보호법｣ 제35조에 따른 개인정보의 열람 청구를 아래의 부서에 할 수 있고, 정보주체의 개인정보
                  열람청구가 신속하게 처리되도록 노력하겠습니다.
                  <ul class="ul-num">
                    <li>▶ 개인정보 열람청구 접수·처리 부서 : 주택정책과 주거복지팀 김락현 주무관 (031-8008-4930)</li>
                  </ul>
                </li>
              </ul>

              <div class="h10"></div>

              <h2 id="gg_privacy_13" class="gg_privacy_title"><span>13. 권익침해 구제방법</span></h2>
              <ul class="ul-circle-num">
                <li>
                  정보주체는 아래의 기관에 대해 개인정보 침해에 대한 피해구제, 상담 등을 문의하실 수 있습니다. &lt;아래의 기관은
                  경기도와는 별개의 기관으로서, 개인정보보호 포털의 자체적인 개인정보 불만처리, 피해구제 결과에 만족하지
                  못하시거나 보다 자세한 도움이 필요하시면 문의하여 주시기 바랍니다.&gt;

                  <ul class="ul-num">
                    <li>
                      가. 개인정보 침해신고센터 (한국인터넷진흥원 운영)
                      <ul class="ul-none">
                        <li>- 소관업무 : 개인정보 침해사실 신고, 상담 신청</li>
                        <li>
                          - 홈페이지 : <a href="privacy.kisa.or.kr" target="_blank" title="새 창 열림">privacy.kisa.or.kr</a>
                        </li>
                        <li>- 전화 : (국번없이) 118</li>
                        <li>- 주소 : 전라남도 나주시 진흥길 9 한국인터넷진흥원</li>
                      </ul>
                    </li>
                    <li>
                      나. 개인정보 분쟁조정위원회
                      <ul class="ul-none">
                        <li>- 소관업무 : 개인정보 분쟁조정신청, 집단분쟁조정 (민사적 해결)</li>
                        <li>
                          - 홈페이지 : <a href="http://www.kopico.go.kr" target="_blank" title="새 창 열림">www.kopico.go.kr</a>
                        </li>
                        <li>- 전화 : 1833-6972</li>
                        <li>- 주소 : 서울특별시 종로구 세종대로 209 정부서울청사 12층</li>
                      </ul>
                    </li>
                    <li>
                      대검찰청 사이버수사과 : (국번없이) 1301, privacy@spo.go.kr (<a
                        href="http://www.spo.go.kr"
                        target="_blank"
                        title="새 창 열림"
                        >www.spo.go.kr</a
                      >)
                    </li>
                    <li>
                      경찰청 사이버수사국 : (국번없이) 182 (<a
                        href="http://www.police.go.kr/www/security/cyber.jsp"
                        target="_blank"
                        title="새 창 열림"
                        >www.police.go.kr/www/security/cyber.jsp</a
                      >)
                    </li>
                  </ul>
                </li>
                <li>
                  또한, 개인정보의 열람, 정정·삭제, 처리정지 등에 대한 정보주체자의 요구에 대하여 공공기관의 장이 행한 처분 또는
                  부작위로 인하여 권리 또는 이익을 침해 받은 자는 행정심판법이 정하는 바에 따라 행정심판을 청구할 수 있습니다.
                  <ul class="ul-num">
                    <li>
                      ※ 중앙행정심판위원회: (국번없이) 110 (<a href="http://www.simpan.go.kr" target="_blank" title="새 창 열림"
                        >www.simpan.go.kr</a
                      >)
                    </li>
                  </ul>
                </li>
              </ul>

              <div class="h10"></div>

              <h2 id="gg_privacy_14" class="gg_privacy_title"><span>14. 개인정보 처리방침 변경</span></h2>
              <ul class="ul-circle-num">
                <li>
                  이 개인정보처리방침은 개인정보보호법 및 표준 개인정보 보호지침에 따라 기존 "경기주거복지포털
                  개인정보처리방침"에서 용어, 기재항목, 내용을 변경하여 수립·공개합니다.
                </li>
                <li>이 개인정보처리방침은 게시일부터 적용됩니다.</li>
                <li>이전의 개인정보처리방침은 아래에서 확인하실 수 있습니다.</li>
              </ul>
              <p class="privacy_hs">
                <a class="btn-border blue" href="" target="_blank"> ※ 경기주택도시공사 개인정보처리방침 </a>
                <br class="mob-only inline" />
                - 2021. 10. ~ 2022. 10. 적용
              </p>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>

      <div class="h50"></div>

      <!-- 하단 -->
      <div>
        <footer class="clear-elem">
          <div class="inner-wrap">
            <div class="logoFoot">
              <em class="hidden_txt">경기주거복지포털</em>
              <img src="../assets/renewal/images/foot-logo.png" alt="경기주거복지포털" />
            </div>
            <div class="l-box etc-info">
              <ul>
                <li>
                  <a href=""><b>개인정보처리방침</b></a>
                </li>
                <li><a href="">이용약관</a></li>
                <li><a href="">이메일 무단수집 거부</a></li>
              </ul>
              <address>
                <p>경기도 수원시 팔달구 효원로 1 (매산로3가) 우편번호 16444</p>
                <p class="copy">COPYRIGHT (C) 2022 GYEONGGI PROVINCE All Rights Reserved.</p>
              </address>
            </div>
            <div class="r-box">
              <a class="wa-mark" href="http://www.wa.or.kr/" target="_blank" title="한국웹접근성평가센터-새창으로이동">
                <img
                  alt="(사)한국장애인단체총연합회 한국웹접근성인증평가원 웹 접근성 우수사이트 인증마크(WA인증마크)"
                  src="../assets/images/wa_logo.gif"
                />
              </a>
            </div>
          </div>
        </footer>
      </div>
    </div>

    <script>
      $(function () {
        var list = $('.page-service .service-privacy .label_list_box_type > li'),
          list2 = $('.page-service .service-privacy .label_list_box_type2 > li a');

        list.on({
          mouseenter: function () {
            var trg = $(this);
            trg.find('p').stop().fadeIn(300);
          },
          mouseleave: function () {
            var trg = $(this);
            trg.find('p').stop().fadeOut(300);
          },
        });

        list2.on('click', function (e) {
          e.preventDefault();
          var trg = $(this),
            anchor = trg.attr('href');
          document.documentElement.scrollTop = $(anchor).offset().top - $('#gnb .h_top').height();
        });
      });
    </script>
  </body>
</html>
