@charset 'utf-8';

/*-----------------------------------------------------------------*/
/* common
/*-----------------------------------------------------------------*/

@import url('base.css'); /*reset*/
@import url('form.css'); /*form style*/

#skipNavigation dd {
  font-size: 0;
  width: 100%;
  position: relative;
}

#skipNavigation dd a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 100%;
  font-size: 1.2rem;
  line-height: 50px;
  position: absolute;
  left: 0;
  top: -50px;
  text-align: center;
  background-color: #106abf;
  color: #fff;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
}

#skipNavigation dd a:focus {
  top: 0;
  z-index: 9999;
}

.scroll-wrap {
  max-height: 100vh;
  overflow: hidden;
  overflow-y: auto;
}

.inner-wrap {
  width: 100%;
  margin: 0 auto;
  max-width: 1270px;
  padding: 0 20px;
  position: relative;
}

.inner-wrap:after,
.clear-elem:after {
  display: block;
  clear: both;
  content: '';
}

.txt-word-break {
  display: inline-block;
  word-break: keep-all;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.align-l {
  text-align: left !important;
}

.align-r {
  text-align: right !important;
}

.align-c {
  text-align: center !important;
}

.l-box {
  float: left;
}

.r-box {
  float: right;
}

.pc-only {
  display: block;
}

.mob-only {
  display: none;
}

#gnb {
  width: 100%;
  padding-top: 100px;
  position: relative;
}

#gnb .h_top {
  position: absolute;
  padding: 0 20px;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 1px 7px 1px rgba(0, 0, 0, 0.15);
  z-index: 888;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

#gnb.fixed .h_top {
  position: fixed;
}

#gnb .h_top h1 {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  z-index: 777;
}

#gnb .h_top h1 img {
  width: 185px;
}

#gnb .gnb-web {
  display: block;
  width: 100%;
  background-color: #fff;
  position: relative;
  z-index: 666;
  text-align: center;
}

#gnb .gnb-mob {
  display: none;
}

#gnb .m-menu {
  display: none;
}

#gnb .gnb-bg {
  width: 100%;
  height: 430px;
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 100px;
  left: 0;
  z-index: 100;
  border-top: 1px solid #ddd;
  display: none;
  box-shadow: 0 1px 7px 1px rgba(0, 0, 0, 0.15);
}

#gnb .gnb-web .menu {
  display: inline-block;
  padding: 0;
  text-align: center;
  font-size: 0;
}

#gnb .gnb-web .menu > li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-align: center;
  position: relative;
  padding: 0 20px;
}

#gnb .gnb-web .menu > li::before {
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
  height: 5px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  background-color: #004097;
  content: '';
}

#gnb .gnb-web .menu > li > a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 100%;
  line-height: 100px;
  font-size: 16px;
  position: relative;
  font-weight: 600;
  color: #111;
}

#gnb .gnb-web .menu > li > a img {
  vertical-align: middle;
}

#gnb .gnb-web .menu > li.on > a {
  color: #004097;
  font-weight: 700;
}

#gnb .gnb-web .menu > li.on::before {
  left: 0;
  right: 0;
}

#gnb .gnb-web .menu > li.active > a {
  color: #004097;
  font-weight: 700;
}

#gnb .gnb-web .menu > li .depth2 {
  display: none;
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: 430px;
  z-index: 444;
  padding: 0 5px;
  background-color: #fff;
  border-top: 1px solid #ddd;
}

#gnb .gnb-web .menu > li .depth2 ul {
  padding: 30px 0;
}

#gnb .gnb-web .menu > li .depth2 li {
  width: 100%;
}

#gnb .gnb-web .menu > li .depth2 li + li {
  margin-top: 20px;
}

#gnb .gnb-web .menu > li .depth2 li a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 100%;
  line-height: 1.4;
  color: #111;
  font-size: 15px;
}

#gnb .gnb-web .menu > li .depth2 li a:hover,
#gnb .gnb-web .menu > li .depth2 li a:focus {
  color: #004097;
  text-decoration-line: underline;
  text-underline-position: under;
  font-weight: 600;
}

#gnb .gnb-web .menu > li .depth2 .btn-wrapper {
  position: absolute;
  bottom: 30px;
  left: 5px;
  width: -webkit-calc(100% - 10px);
  width: -moz-calc(100% - 10px);
  width: calc(100% - 10px);
  margin: 0;
}

#gnb .gnb-web .menu > li .depth2 .btn-wrapper button {
  font-size: 15px;
}

#gnb .etc-info {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 777;
}

#gnb .etc-info span {
  display: inline-block;
}

#gnb .etc-info span * {
  display: inline-block;
  line-height: 1;
  vertical-align: baseline;
}

#gnb .etc-info span + span {
  margin-left: 10px;
}

#gnb .etc-info span:first-of-type {
  width: 40px;
  height: 40px;
  border: 1px solid #eaeaea;
  border-radius: 50%;
}

#gnb .etc-info span:nth-of-type(2) {
  height: 40px;
  line-height: 40px;
  border: 1px solid #eaeaea;
  border-radius: 30px;
  padding: 0 25px;
}

#gnb .etc-info .btn-search {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#gnb .etc-info .btn-search::before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -8px 0 0 -8px;
  width: 16px;
  height: 16px;
  background-image: url('../images/ico-search-xs.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  content: '';
}

#gnb .etc-info .sign-in,
#gnb .etc-info .sign-up {
  position: relative;
  font-size: 16px;
}

#gnb .etc-info .sign-in {
  padding-left: 22px;
}

#gnb .etc-info .sign-in::before {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -7px;
  width: 14px;
  height: 14px;
  background-image: url('../images/ico-signin.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  content: '';
}

#gnb .etc-info .sign-up {
  padding-left: 25px;
  margin-left: 25px;
}

#gnb .etc-info .sign-up::before {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -7px;
  width: 18px;
  height: 14px;
  background-image: url('../images/ico-signup.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  content: '';
}

footer {
  width: 100%;
  position: relative;
  border-top: 1px solid #eaeaea;
  padding: 32px 0 50px;
}

footer .logoFoot {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: absolute;
  top: 0;
  left: 20px;
}

footer .logoFoot img {
  width: 197px;
}

footer .etc-info {
  width: -webkit-calc(100% - 140px);
  width: -moz-calc(100% - 140px);
  width: calc(100% - 140px);
  padding-left: 240px;
  padding-top: 10px;
}

footer .etc-info ul {
  font-size: 0;
}

footer .etc-info ul li,
footer .etc-info ul li * {
  display: inline-block;
  line-height: 1;
  vertical-align: top;
}

footer .etc-info ul li a {
  font-size: 16px;
}

footer .etc-info ul li + li {
  margin-left: 30px;
}

footer .etc-info address {
  margin-top: 30px;
  color: #333;
}

footer .etc-info address p {
  line-height: 1;
}

footer .etc-info address .copy {
  font-size: 14px;
  color: #999;
  margin-top: 15px;
}

footer .wa-mark img {
  width: 140px;
}

@media only screen and (max-width: 1350px) {
  #gnb .m-menu {
    display: block;
    top: 38px;
    right: 0;
    z-index: 9990;
    position: absolute;
  }
  #gnb .m-menu * {
    display: inline-block;
    vertical-align: top;
  }
  #gnb .h_top .m-search {
    width: 20px;
    height: 20px;
    position: relative;
    top: -2px;
  }
  #gnb .h_top .m-search::before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../images/ico-search-mob.png');
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 100% auto;
    content: '';
  }
  #gnb .h_top .menu-all {
    width: 20px;
    height: 16px;
    margin-left: 20px;
    position: relative;
  }
  #gnb .h_top .menu-all i {
    width: 20px;
    height: 2px;
    background-color: #111;
    position: absolute;
    right: 0;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  #gnb .h_top .menu-all i:first-of-type {
    top: 0;
  }
  #gnb .h_top .menu-all i:nth-of-type(2) {
    top: 7px;
  }
  #gnb .h_top .menu-all i:nth-of-type(3) {
    top: 14px;
  }
  #gnb .h_top .menu-all.open i:first-of-type,
  #gnb .h_top .menu-all.open i:nth-of-type(2) {
    top: 7px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
  }
  #gnb .h_top .menu-all.open i:nth-of-type(3) {
    top: 7px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
  }

  #gnb .etc-info {
    display: none;
  }

  #gnb .gnb-web {
    display: none;
  }
  #gnb .gnb-mob {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    padding-top: 80px;
    height: 100%;
    background-color: #fff;
    z-index: 9900;
  }
  #gnb .gnb-mob .scroll-wrap {
    max-height: -webkit-calc(100vh - 80px);
    max-height: -moz-calc(100vh - 80px);
    max-height: calc(100vh - 80px);
    border-top: 1px solid #ccc;
  }
  #gnb .gnb-mob .member {
    text-align: center;
    padding-top: 20px;
  }
  #gnb .gnb-mob .member .sign-in,
  #gnb .gnb-mob .member .sign-up {
    position: relative;
    font-size: 16px;
  }

  #gnb .gnb-mob .member .sign-in {
    padding-left: 22px;
  }

  #gnb .gnb-mob .member .sign-in::before {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -7px;
    width: 14px;
    height: 14px;
    background-image: url('../images/ico-signin.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    content: '';
  }

  #gnb .gnb-mob .member .sign-up {
    padding-left: 25px;
    margin-left: 15px;
  }

  #gnb .gnb-mob .member .sign-up::before {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -7px;
    width: 18px;
    height: 14px;
    background-image: url('../images/ico-signup.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    content: '';
  }
  #gnb .gnb-mob .menu {
    padding: 30px 0;
  }
  #gnb .gnb-mob .menu * {
    text-align: center;
  }
  #gnb .gnb-mob .menu a {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    font-size: 16px;
    line-height: 1.4;
    color: #666;
    padding: 0 2px;
  }
  #gnb .gnb-mob .menu .btn-wrapper {
    margin-bottom: 0;
    width: 100%;
  }
  #gnb .gnb-mob .menu .btn-wrapper button {
    width: 80%;
    max-width: 420px;
    min-height: 45px;
  }
  #gnb .gnb-mob .menu > li {
    line-height: 1;
  }
  #gnb .gnb-mob .menu > li > a {
    line-height: 55px;
    position: relative;
    color: #111;
    padding: 0;
  }
  #gnb .gnb-mob .menu > li > a img {
    vertical-align: middle;
  }
  #gnb .gnb-mob .menu > li.on > a::before {
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    right: -10px;
    top: 15px;
    background-color: #004097;
    content: '';
  }
  #gnb .gnb-mob .menu > li .depth2 {
    display: none;
    padding: 30px 0;
    background-color: #eee;
    text-align: center;
  }
  #gnb .gnb-mob .menu > li .depth2 ul {
    display: inline-block;
    width: 80%;
    max-width: 420px;
    font-size: 0;
    text-align: left;
  }
  #gnb .gnb-mob .menu > li .depth2 li {
    display: inline-block;
    width: 48%;
    margin: 7px 0;
    text-align: left;
    vertical-align: top;
  }
  #gnb .gnb-mob .menu > li .depth2 li:nth-of-type(even) {
    margin-left: 4%;
  }
  #gnb .gnb-mob .menu > li .depth2 li a {
    position: relative;
    font-size: 16px;
    text-align: left;
  }
}

@media screen and (max-width: 861px) {
  footer .logoFoot {
    position: static;
  }
  footer .etc-info {
    padding: 0;
    margin-top: 40px;
  }
  footer .etc-info + div {
    margin-top: 40px;
  }
}

@media screen and (max-width: 768px) {
  .pc-only {
    display: none;
  }

  .mob-only {
    display: block;
  }

  #gnb {
    padding-top: 80px;
  }
  #gnb .h_top {
    height: 80px;
  }
  #gnb .m-menu {
    top: 33px;
  }
}

@media screen and (max-width: 640px) {
  footer .etc-info,
  footer .etc-info + div {
    width: 100%;
    margin-top: 20px;
  }

  footer .etc-info + div {
    margin-top: 40px;
  }
}

@media screen and (max-width: 480px) {
  #gnb .gnb-mob .menu > li .depth2 ul {
    width: 90%;
  }
  #gnb .gnb-mob .menu .btn-wrapper button {
    width: 90%;
    font-size: 16px;
  }

  footer .etc-info ul li + li {
    margin-left: 20px;
  }
  footer .etc-info ul li a {
    font-size: 14px;
  }
  footer .etc-info address p {
    font-size: 14px;
  }
}
